* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    font-size: 30px;
}


/*----------------------Base----------------------*/
nav {
    background: black;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    border-bottom: 1px solid rgb(0, 210, 211);
    
}

    #bt1 {
        background: black;
        display: none;
        padding-top: 0;
    }


    #nav_ul_desk {
        list-style-type: none;
        display: flex;
        padding-top: 20px;
        position: fixed;
        min-width: 100%;
        justify-content: center;
        z-index: 1;
}

    li {
    text-align: center;
    font-size: 25px;
    display: block;
    margin: 10px;
    }


    a {
    color: White;
    text-decoration: none;
}

    a:hover {
    color: rgb(0, 210, 211);
    }


    #nav_ul_mob {
    display: none;
    padding-top: 10%;
    background: black;
}

#pres {
    display: flex;
    background-color: black;
    justify-content: center;
    padding: 0;
}



    #ola {
        margin-top: 300px;
        
    }

h2 {
    color: rgb(0, 210, 211);
    padding: 0;
}

#im {
    margin-top: 180px;
    
 
}

#descri_p {
    color: rgb(0, 210, 211);
    padding: 0;
    width: 18em;
    
}


@media (max-width: 1500px) {

   
   
}

@media (max-width: 1230px) {

   

}


@media (max-width: 834px) {
    /*------------Menu-Mobile------------*/

    nav {
        top: 0;
    }
    
    #nav_ul_desk {
        display:none;

    }
    #bt1 {
        display: block;
        border: none;
        padding-top: 20px;
        position: fixed;
        min-width: 100%;
        left: 40%;
        z-index: 2;
    }

    #nav_ul_mob {
        display: none;
        padding-top: 20px;
        position: fixed;
        min-width: 100%;
        justify-content: center;
        z-index: 1;
    }

    

    

    #pres {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 180px;
        padding-top: 150px;
        
    }

    #im {
        margin-top: 0;
        padding-left: 150px;
        padding-top: 0;
    }

    #foto {
        height: 200px;
        width: 180px;
    }


    #ola {
        margin-top: 0;
        padding-top: 10px;
    }

    h2 {
        font-size: 40px;
    }
    #descri_p {
        font-size: 20px;
    }
    

    @media (max-width: 600px) {
    }
