* {
    margin: 0;
    padding: 0;
    background-color: black;
}

html {
    scroll-behavior: smooth;
    font-size: 30px;
}


/*----------------------Base----------------------*/

/*-----------menu-----------*/

h3 {
    color: aliceblue;
}

header {
    background-color: black;
    border-bottom: 2px solid #00cec9;
}

nav {
    display:flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    
}

#logo {

    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    
}

li {
    margin: 0 15px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

    a:hover {
        color: #00cec9;
    }

/*---------Menu mobile---------*/

#menu-mobile {
    padding-right: 2rem;
    display: none;
}

#icon {
    width: 1.2rem;
    height: 1.1rem;
}

#ul-menu-mobile {
    display: block;
    text-align: center;
    padding: 1rem;
}

    #ul-menu-mobile li {
        padding: 0.5rem;

    }

    #bt {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

#item-menu-mobile {
    display: none;
}


/*-----------apresentação-----------*/



#apres {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding-top: 3rem;
}

#descri {
    align-self: center;
}

#foto {
    width: 8rem;
    height: 8.5rem;
}

#img {
    padding-left: 100px;
}

span {
    color: #00cec9;
}




@media screen and (max-width: 800px) {
    /*------------Menu-Mobile------------*/

    nav {

        
    }

    #menu {
        display: none;
    }

    #menu-mobile {

        display:block;
    }
    /*-----------apresentação-----------*/

    #apres {
        display: block;
    }
    #descri {
        text-align: center;
        padding: 0.2rem;
    }

    #ola {
        font-size: 1.1rem;
    }
    #so {
        font-size: 0.5rem;
    }

    #img {
        padding-left: 0;
        padding-top: 1rem;
        text-align:center;
 
    }

    #foto {
        width: 6rem;
        height: 6.5rem;
    }
  
            
 }
    

