* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 30px;
}


/*----------------------Base----------------------*/

h3 {
    color: aliceblue;
}

header {
    background-color: black;
    border-bottom: 2px solid #2ecc71;
}

nav {
    display:flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    
}

#logo {

    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    
}

li {
    margin: 0 15px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

    a:hover {
        color: #2ecc71;
    }

/*---------Menu mobile---------*/

#menu-mobile {
    padding-right: 2rem;
    display: none;
}

#icon {
    width: 1.2rem;
    height: 1.1rem;
}

#ul-menu-mobile {
    display: block;
    text-align: center;
    padding: 1rem;
}

    #ul-menu-mobile li {
        padding: 0.5rem;

    }

    #bt {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

#item-menu-mobile {
    display: none;
}





@media screen and (max-width: 800px) {
    /*------------Menu-Mobile------------*/

    nav {

        
    }

    #menu {
        display: none;
    }

    #menu-mobile {

        display:block;
    }

    

  
            
 }
    

